@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(90deg, #141414 0%, #424242 100%);
  color: #fff;
  display: flex;
}

header img {
  height: 200px;
}

.header_h {
  text-align: center;
}

h2 {
  font-size: 25px;
  margin: 10px;
  color: #daa520;
  font-family: "Roboto", sans-serif;
}

.container p {
  font-size: 18px;
  margin: 10px;
}

.container {
  margin: 0 auto;
}

.form-group {
  margin: 0 0 10px;
  display: grid;
  font-size: 18px;
}

.form-control {
  margin: 0 0 10px;
  display: grid;
  font-size: 18px;
  border-radius: 0.2em;
  border: none;
}

.form-group-radio {
  margin: 0 0 10px;
  font-size: 18px;
}

.button {
  text-align: center;
}

button {
  width: 40%;
  background: #b8860b;
  font-size: 30px;
  color: #fff;
  border-radius: 2em;
  border-color: #b8860b;
  border: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px;
}

button:hover {
  background: darkorange;
}

@media screen and (max-width: 768px) {
  body,
  img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body,
  img {
    width: 100%;
  }
}
